
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Message</h1>

<div class="pull-right" style="display: inline-flex">
    <div class="container" style="float:left">
        <div class="pull-right">
            <br />
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm" method="GET">
                        <div class="card-body row no-gutters align-items-center" style="display:inline-flex">
                            <div class="col-auto" style="float:right; width:200px; height:100px">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col" style="float:right; width:200px">
                                <input class="form-control form-control-lg form-controlborderless" type="text" name="search" style="height: 45px"
                                       value="@ViewBag.SearchString"
                                       placeholder="Search user">
                            </div>
                            <!--end of col-->
                            <div class="col-auto" style="float:left; padding-left:3px">
                                <button class="btn btn-lg btn-success"
                                        type="submit">
                                    Search
                                </button>
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of col-->
                </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        <!--end of col-->
    </div>
    @if (ViewBag.search != "" && ViewBag.CountUsers > 0)
    {
        <div class="dropdown pull-right" style="float: right; width: 200px; height: 30px; padding-top:35px; padding-left: 5px">
            <button class="dropbtn">Search results</button>
            <div class="dropdown-content">
                @foreach (var user in ViewBag.UsersList)
                {
                    <li class="dropdown-item" style="list-style-type: none">
                        <a href="/Profiles/Show/@user.Id" class="glyphicon glyphicon-user"> @user.UserName </a>
                        <br />
                    </li>}
            </div>
        </div>}
</div>



<br />

<a class="btn btn-primary" style="background-color: #5680E9" href="/Groups/New">Adauga un grup nou</a>
<a class="btn btn-primary" style="background-color: #5680E9" href="/Tasks/Index">Inapoi la postari</a>

<br />
<br />
@foreach (SpaceOrganizing.Models.Group group in ViewBag.Groups)
{
    //if (group.GroupId != 1)
    //{ 
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="panel panel-default col-sm-8">
                <div class="panel-heading" style="text-align:center">
                    <h2>@group.GroupName</h2>
                </div>
                <div class="panel-body" style="border-radius:0 0 20px 20px; text-align:center">

                    <p style="font-size:20px">@group.GroupDescription</p>
                    @{

                        int count = 0;

                        foreach (SpaceOrganizing.Models.Registration reg in group.Registrations)
                        {
                            if (reg.GroupId == group.GroupId)
                            {
                                if (ViewBag.User == reg.User || ViewBag.User == group.User)
                                {
                                    <i class="glyphicon glyphicon-ok">Esti inscris in grup</i>
                                    count = 1;
                                    break;
                                }
                            }
                            if (count == 0)
                            {
                                <a class="btn btn-info" href="/Groups/NewMember/@group.GroupId">Inscrie-te in grup</a>
                            }
                        }
                        <a class="btn btn-info" href="/Groups/Show/@group.GroupId">Afisare grup</a>
                    }
                    <br />


                </div>


            </div>
            <div class="col-sm-2"></div>
        </div>



        <br />

    //}


}
